*.class
*.jar
*.war
*.iml
*.log
target
.idea
.settings
.project
.classpath
out
build
upload
test-output
output
RemoteSystemsTempFiles
.metadata
.recommenders
.settings
.springBeans
.apt_generated
data
